<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/smitabose/IdeaProjects/TestNGExample/src/test/java/org/example/ParametersExample.java">
        <parameter name="browser" value="safari"></parameter>
        <parameter name="url" value="https://www.google.com/"></parameter>
        <classes>
            <class name="org.example.ParametersExample">

            </class>
        </classes>
    </test>
</suite>